.generalScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgBrasão {
    height: 200px;
}

.start {
    background-color: #fff;
    color: black;
    font-size: 10px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
