.screenContainer {
    width: 650px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border: 1px solid #000;
    margin: auto;
}

