.tovoteScreen {
    height: 340px;
    display: flex;

}

.squareNumber {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
    margin: 0 0 10px 0;
}

.adds {
    height: 300px;
    width: 525px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

